pandas==2.2.0
numpy==1.26.4
psycopg2-binary==2.9.9
python-dotenv==1.0.1
tqdm==4.66.2
openpyxl==3.1.2
kafka-python==2.1.5
requests==2.32.3
great_expectations==1.18.2
docker==7.1.0
paramiko==3.5.1
dbt-spark[PyHive]==1.10.3
