SPARK_MASTER_HOST=10.10.252.12
SPARK_MASTER_PORT=7077
SPARK_MASTER_WEBUI_PORT=8086
SPARK_WORKER_WEBUI_PORT=8087
SPARK_HISTORY_WEBUI_PORT=18080
SPARK_THRIFT_PORT=10000
SPARK_THRIFT_WEBUI_PORT=4040
SPARK_WORKER_CORES=4
SPARK_WORKER_MEMORY=4G
SPARK_THRIFT_DRIVER_MEMORY=1G
SPARK_THRIFT_EXECUTOR_MEMORY=1G
SPARK_THRIFT_EXECUTOR_CORES=1
SPARK_THRIFT_TOTAL_EXECUTOR_CORES=1

CUSTOMERDNA_SPARK_SUBMIT_CONTAINER=spark-submit-client
CUSTOMERDNA_SPARK_MASTER_URL=spark://10.10.252.12:7077
CUSTOMERDNA_SPARK_BASE_IMAGE=spark:4.1.2-python3
CUSTOMERDNA_SPARK_ICEBERG_VERSION=1.11.0
CUSTOMERDNA_SPARK_POSTGRES_JDBC_VERSION=42.7.4
CUSTOMERDNA_SPARK_EXTRA_CLASSPATH=/opt/spark/jars/iceberg-spark-runtime-4.1_2.13-1.11.0.jar:/opt/spark/jars/postgresql-42.7.4.jar
CUSTOMERDNA_HIVE_METASTORE_URI=thrift://hive-metastore:9083
CUSTOMERDNA_ICEBERG_CATALOG_NAME=customerdna
CUSTOMERDNA_ICEBERG_WAREHOUSE_URI=hdfs://namenode.customerdna.local:9000/warehouse/iceberg
CUSTOMERDNA_HDFS_NAMENODE_KERBEROS_PRINCIPAL=nn/namenode.customerdna.local@CUSTOMERDNA.LOCAL
CUSTOMERDNA_SPARK_BIN=/opt/spark/bin/spark-submit
CUSTOMERDNA_SPARK_JOBS_ROOT_IN_CONTAINER=/opt/spark/jobs
CUSTOMERDNA_SPARK_JOB_PATH=/opt/spark/jobs/client_1/load_hdfs_bronze_to_iceberg.py
CUSTOMERDNA_SPARK_HOME_DIR=/opt/spark/work-dir
CUSTOMERDNA_SPARK_IVY_HOME=/opt/spark/work-dir/.ivy2
CUSTOMERDNA_SPARK_EXECUTOR_MEMORY=512m
CUSTOMERDNA_SPARK_EXECUTOR_CORES=1
CUSTOMERDNA_SPARK_CORES_MAX=2
CUSTOMERDNA_SPARK_WRITE_PARTITIONS=2
CUSTOMERDNA_SPARK_THRIFT_HOST=spark-thrift-server
CUSTOMERDNA_SPARK_THRIFT_PORT=10000
