CUSTOMERDNA_MONITORING_POSTGRES_HOST=host.docker.internal
CUSTOMERDNA_POSTGRES_HOST=host.docker.internal
CUSTOMERDNA_POSTGRES_PORT=5435
CUSTOMERDNA_POSTGRES_DB=metastore_db
CUSTOMERDNA_POSTGRES_USER=hive
CUSTOMERDNA_POSTGRES_PASSWORD=hive_password
CUSTOMERDNA_MONITORING_ROOT_IN_CONTAINER=/monitoring
CUSTOMERDNA_MONITORING_EXPORTER_SCRIPT=/monitoring/exporters/pipeline_metrics_exporter.py
CUSTOMERDNA_MONITORING_KAFKA_HOST=host.docker.internal
CUSTOMERDNA_MONITORING_KAFKA_PORT=9092
CUSTOMERDNA_MONITORING_HDFS_WEB_ENDPOINT=host.docker.internal:9870
CUSTOMERDNA_MONITORING_HIVE_METASTORE_HOST=host.docker.internal
CUSTOMERDNA_MONITORING_HIVE_METASTORE_PORT=9083
CUSTOMERDNA_MONITORING_SPARK_MASTER_UI_URL=http://host.docker.internal:8086
CUSTOMERDNA_MONITORING_SPARK_THRIFT_HOST=host.docker.internal
CUSTOMERDNA_MONITORING_SPARK_THRIFT_PORT=10000
CUSTOMERDNA_MONITORING_TRINO_URL=http://host.docker.internal:8088
CUSTOMERDNA_MONITORING_HTTP_TIMEOUT_SECONDS=5
CUSTOMERDNA_MONITORING_SOCKET_TIMEOUT_SECONDS=5
