CUSTOMERDNA_DBT_SPARK_HOST=localhost
CUSTOMERDNA_DBT_SPARK_PORT=10000
CUSTOMERDNA_DBT_SPARK_USER=dbt
CUSTOMERDNA_DBT_SPARK_AUTH=NONE
CUSTOMERDNA_DBT_SPARK_KERBEROS_SERVICE_NAME=spark
DBT_PROFILES_DIR=.
